html {
    background-color: #E2E79B;
    color:black;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: auto;
    width:600px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 5px;
    border: thick black solid;
    background-color: #E09891;
}
